name: Hydrometer OCR API
slug: hydrometer_ocr
description: OCR backend for ESP32-CAM hydrometer
version: "0.5.1"
arch:
  - amd64

startup: services
boot: auto
host_network: true

image: ghcr.io/ampaiva/hydrometer_ocr_addon/{arch}

options:
  openai_api_key: ""
  mqtt_host: localhost
  mqtt_port: 1883
  mqtt_user: mqtt
  mqtt_password: ""
  mqtt_topic_reading: hydrometer/reading

schema:
  openai_api_key: password
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_password: password
  mqtt_topic_reading: str
