name: Hydrometer OCR API
slug: hydrometer_ocr
description: OCR backend for ESP32-CAM hydrometer
version: "0.5.3"
arch:
  - amd64

startup: services
boot: auto
host_network: true

image: ghcr.io/ampaiva/hydrometer_ocr_addon/{arch}

options:
  openai_api_key: ""
  esp32_server: "192.168.86.121:8000"
  esp32_capture_interval_ms: 600000
  mqtt_host: localhost
  mqtt_port: 1883
  mqtt_user: mqtt
  mqtt_password: ""
  mqtt_topic_reading: hydrometer/reading

schema:
  openai_api_key: password
  esp32_server: str
  esp32_capture_interval_ms: int
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_password: password
  mqtt_topic_reading: str
