name: Hydrometer OCR API
slug: hydrometer_ocr
description: OCR backend for ESP32-CAM hydrometer
version: "0.6.1"
panel_icon: mdi:water-percent
arch:
  - amd64

startup: services
boot: auto
host_network: true

#ports:
#  8000/tcp: 8000
#
#ingress: true
#ingress_port: 8000

image: ghcr.io/ampaiva/hydrometer_ocr_addon/{arch}

options:
  openai_api_key: ""
  esp32_server: "192.168.86.121:8000"
  esp32_capture_interval_ms: 600000
  esp32_delay_flash_ms: 120
  framesize: "FRAMESIZE_VGA"
  jpeg_quality: 12
  fb_count: 1
  mqtt_host: localhost
  mqtt_port: 1883
  mqtt_user: mqtt
  mqtt_password: ""
  mqtt_client_id: "hydrometer-ocr-homeassistant"
  mqtt_topic_reading: hydrometer/reading
  addon_storage_dir: "/data/storage"
  addon_www_dir: "/config/www/hydrometer"
  addon_test_mode: false
  addon_ha_url: "http://apaiva-nuc:8123"
  addon_ha_token: ""
  addon_ha_switch: ""
  addon_switch_on_off: True

schema:
  openai_api_key: password
  esp32_server: str
  esp32_capture_interval_ms: int
  esp32_delay_flash_ms: int
  framesize: str
  jpeg_quality: int
  fb_count: int
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_password: password
  mqtt_client_id: str
  mqtt_topic_reading: str
  addon_storage_dir: str
  addon_www_dir: str
  addon_test_mode: bool
  addon_ha_url: str
  addon_ha_token: str
  addon_ha_switch: str
  addon_switch_on_off: bool
